.navbar{
  background: #000000;
  height: 80px;
  width: 100%;
}

.nav-item{
  color: #ffffff;
}

.nav-item:hover{
  color:beige;
}

.nav-menu{
  display: grid;
  justify-content: end;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20rem;
  list-style: none;
  text-align: right;
  width: 95vw;
  margin-right: 2rem;
  color: #ffffff;
  font-size: large;
}