.react-chatbot-kit-chat-container {
  display: block;
  margin: 0 auto;
  margin-top: 5rem;
}

.react-chatbot-kit-chat-input {
  border: 2px solid #d8d8d8;
  border-radius: 5px 0 5px 5px;
}

.react-chatbot-kit-chat-input-container {
  padding: 3px;
}

@media (max-width: 648px) {
  .react-chatbot-kit-chat-container {
    margin-top: 0;
    width: auto !important;
  }
  .react-chatbot-kit-chat-inner-container {
    margin-bottom: 0;
  }
  .react-chatbot-kit-chat-bot-message {
    /* height: auto; */
    width: auto !important;
  }
}
