* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/*Desktop View*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

.logo {
  width: 65px;
  height: 65px;
}

.nav-options {
  list-style-type: none;
}

.nav-options > li {
  float: left;
}

.nav-options > li > a {
  color: #ffffff;
  font-weight: bold;
  margin: 12px;
  text-decoration: none;
  font-size: 20px;
  padding: 100px;
  padding-top: 0;
  padding-bottom: 0;
}

.nav-options > li > a:hover {
  color: aqua;
}

.mobile-option {
  display: none;
}

.mobile-menu {
  display: none;
}

@media (max-width: 1000px) {
  /*Mobile View */
  .navbar {
    padding: 0px 10px;
  }

  .logo {
    width: 45px;
    height: 45px;
  }

  .nav-options {
    display: flex;
    width: 100%;
    height: auto;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 0;
    transition: all 0.5s ease;
    flex-direction: column;
    list-style-type: none;
    grid-gap: 0px;
  }

  .nav-options.active {
    background: #ffffff;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
    align-content: center;
    padding-left: 0px;
    width: 200px;
    height: 300px;
  }
  .nav-options > li > a {
    color: #000000;
    font-weight: 500;
  }
  .menu-icon {
    width: 45px;
    height: 45px;
    color: #ffffff;
  }

  .option {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
  }
}

.mobile-menu {
  display: block;
}
