* {
  padding: 0;
  margin: 0;
}

.navbar {
  background: #000000;
  height: auto;
}

.nav-item {
  color: #ffffff;
}

/* .nav-item:hover {} */
.navbar-container {
  /* display: flex; */
  /* align-items: flex-end; */
  justify-content: right;
}

.nav-menu {
  list-style: none;
  padding: 2em;
  /* margin: 2em; */
  color: #ffffff;
}

/* .nav-bullet {
  float: left;
} */